

/* ------------頁尾上面開始 ----------*/
footer {
    background-color: #6a3224;
    color: #F3DAC4;
    padding: 40px;
}

.footerup {
    width: 1000px;
    margin: 0 auto;

    margin-bottom: 20px;
    background-color: #6a3224;
    color: #FFF1E4;
    display: flex;
}

.footerup p {
    font-weight: bold;
    color: #c45c32;
}



.footerup>img {
    width: 100px;
    height: 90px;

    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    /* margin-top: 15px; */

}

.footerupcontact{
    margin-right: 100px;
}

.footerupcontact p {
    line-height: 1.6;
    color: #FFF1E4;
    /* display: flex; */
    /* justify-content: end; */
}

.footerupcontact a {
    /* border: 1px solid red; */



}

.footerupcontact img {
    width: 20px;
    height: 20px;


}

.footerupinformation{
    display: flex;
    
}


.footerupaboutus {
    display: flex;
    line-height: 1.6;

}

.footerupaboutus p {
    margin-right: 15px;
}

.footerupaboutus a {
    text-decoration: none;
    color: #FFF1E4;
    margin-right: 10px;

}

.footerupaboutus a:hover {
    text-decoration: underline
}

.footerupinformation {
    /* display: flex; */
    line-height: 1.6;
}


.footerupinformation p {
    font-weight: bold;
    color: #c45c32;
    margin-right: 15px;
}


.footerupinformation a {
    text-decoration: none;
    color: #FFF1E4;
    margin-right: 10px;
}

.footerupinformation a:hover {
    text-decoration: underline
}




/* -------頁尾下面開始--------- */

.footerdown {
    padding-bottom: 20px;
}

.footerdown p {
    font-size: 12px;
    text-align: center;
    line-height: 1.6;
}

