@import url(./reset.css);

body {
    width: 100%;
    background-color: #FFF2E1;
}

.wrapper {
    font-size: 16px;
    background-color: #FFF2E1;
    font-family: "Caveat", cursive, "Noto Sans TC";
    width: 100%;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFF1E4;
    /* 確定顶部导航欄位位於其他内容上層 */
    z-index: 100;
}

.scroll {
    opacity: 0.6;
}





.headerup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #6a3224;
    color: white;
}

.headerup p {

    text-align: center;

}

.headerdown {
    display: flex;
    width: 1240px;

    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 10PX 40px;
    box-sizing: border-box;


}



.mainlogo img {
    padding-left: 20px;
    width: 150px;
    height: 60px;
}

.headerdown ul {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;

    /* margin-left: 30px; */



}

.headerdown li {
    margin: 0 10px;
    font-size: 25px;

    align-self: auto;
}


.headerdown li a {

    display: flex;
    width: 150px;
    height: 40px;
    text-decoration: none;
    color: #6a3224;
    justify-content: center;
    align-items: center;
}



.main-sel {
    background-color: #FFF2E1;
    padding-top: 120px;
    width: 100%;
    margin: 0 auto;

}





.memberlogo {
    margin-left: auto;
    /* padding-right: 20px; */
    display: flex;
    align-items: center;
    color: #6a3224;
}

.memberlogo img {}

.shoppinglogo {
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.shoppinglogo img {
    padding-left: 20px;
}


.headerdown li a:hover {
    /* background-color: #FFF1E4; */
    color: #6a3224;
    font-weight: bold;
    border-bottom: 3px solid #db8e5c;
}

/* 頁首結束 */



.main-white {
    /* border: 1px solid red; */
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* 大圖輪播 */

.bigpicture {
    width: 70%;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;


    overflow: hidden;
}

.image {

    width: 100%;
    height: 500px;
}

.content {
    /* ul */
    position: relative;

}

.content li {
    /* li */
    float: left;
}

/* circle button */
.contentButton {
    /* border: 1px solid red; */
    text-align: center;

    width: 100%;
    height: 50px;
}

.contentButton li {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #ccc;
    margin: 8px;
    display: inline-block;
}

.contentButton li.clicked {
    background-color: #666;
}

/*-------關於我們開始------ */

.mainaboutus {
    overflow: hidden;
    /* border: 1px solid black; */
    margin-bottom: 120px;
    /* margin: 0 auto; */

}

.mainaboutus h3 {
    /* border: 3px solid red; */
    display: block;

    font-size: 30px;
    color: red;
    margin-left: 280px;
}



.mainaboutus p {
    /* border: 3px solid red; */
    line-height: 2.0;
    margin-top: 40px;
    margin-left: 280px;
    font-size: 18px;
    color: #6a3224;



}

.twopicture {
    /* border: 5px solid black; */
    display: flex;
    justify-content: right;
    margin-top: 80px;
    margin-right: 210px;


}

.twopictureone {
    transition: transform 0.5s ease;
    margin: 0 30px;
    height: 200px;
    width: 250px;

    border-radius: 12px;
}

.twopicturetwo {
    transition: transform 0.5s ease;
    height: 200px;
    width: 250px;

    border-radius: 12px;
}

.twopictureone:hover {
    transform: scale(1.2);
}



.twopicturetwo:hover {
    transform: scale(1.2);
}


.newnew {
    /* clear:both; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;

}

.newleft {
    position: relative;
}

.image-container {
    width: 400px;
    height: 300px;
    margin-right: 80px;
    border-radius: 12px;

}

.newnewtimgtext {
    /* display: none; */
    position: absolute;
    top: 117px;
    left: 115px;
    font-size: 38px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: scale(0.8);
}

.newline {
    /* display: none; */
    width: 380px;
    height: 280px;
    border-radius: 12px;
    border: 5px solid white;
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: scale(0.8);

}

.newleft:hover .newnewtimgtext {

    /* display: block; */
    opacity: 1;
    transform: scale(1);
}

.newleft:hover .newline {

    /* display: block; */
    opacity: 1;
    transform: scale(1);
}






.newright {
    text-align: center;

}

.newright h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: red;

}

.newright p {
    line-height: 2.0;
    font-size: 18px;
    margin-bottom: 20px;
    color: #6a3224;
}

.newright a {
    display: flex;
    justify-content: center;
    line-height: 50px;
    text-decoration: none;
    /* border: 1px solid #6a3224; */
    background-color: #6a3224;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 120px;

    margin: 0 auto;
}

.newright a:hover {
    border: 1px solid #6a3224;
    background-color: #F3DAC4;
    color: #6a3224;
}



/* -------TOP5開始------ */
.top5 {
    background-color: #fcf6f0;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 120px;
    position: relative;
    padding: 30px;
    padding-bottom: 50px;

    border-radius: 50% 20% / 30% 40%;


}

.top5 p {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: #6a3224;
}

.top5picture {
    display: flex;
    justify-content: center;


}


.top5picture img {
    height: 350px;
    width: 500px;
    border-radius: 12px;

}

.top5picture img:not(:last-child) {
    margin-right: 10px;
}

.buttonleft {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 140px;
    left: 1rem;

}

.buttonright {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 140px;
    right: 1rem;

}


/* --------溫暖語錄開始-------- */

.maindown {
    /* border: 1px solid black; */
    text-align: center;
    padding-bottom: 80px;
    margin: 0 auto;

    position: relative;

}

.maindown img {
    width: 600px;
    height: 400px;
    border-radius: 12px;
    margin-bottom: 150px;

}

.maindown p {
    font-size: 20px;
    line-height: 1.0;
    margin-top: 70px;
    margin-bottom: 90px;
    color: #6a3224;

    display: inline-block;
    animation: upAndDown 2s infinite;

}

@keyframes upAndDown {

    0%,
    100% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(-50%, -70%);
    }

}

.maindown .maindown-english {
    font-size: 40px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.maindown .maindown-chinese {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.maindown a {
    width: 100px;
    height: 40px;
    border-radius: 120px;
    background-color: #6a3224;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 auto;
    font-size: 30px;
    line-height: 40px;
    font-family: "Noto Sans TC";

}

.maindown a:hover {
    border: 1px solid #6a3224;
    background-color: #F3DAC4;
    color: #6a3224;
}





/* ------------頁尾上面開始 ----------*/
footer {
    background-color: #6a3224;
    color: #F3DAC4;
    padding: 20px;

    max-width: 100%;
    box-sizing: border-box;
}

.footerup {


    margin-bottom: 20px;
    background-color: #6a3224;
    color: #FFF1E4;
    display: flex;
    /* justify-content: center; */

    flex-wrap: wrap;
}

.footerup p {
    font-weight: bold;
    color: #c45c32;
}



.footerup>img {
    width: 100px;
    height: 90px;

    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    margin-top: 8px;

}

.footerupcontact {
    margin-right: 100px;
}

.footerupcontact p {
    line-height: 1.6;
    color: #FFF1E4;
    /* display: flex; */
    /* justify-content: end; */
}

.footerupcontact a {
    /* border: 1px solid red; */



}

.footerupcontact img {
    width: 20px;
    height: 20px;


}

.footerupinformation {
    display: flex;

}


.footerupaboutus {
    display: flex;
    line-height: 1.6;

}

.footerupaboutus p {
    margin-right: 15px;
}

.footerupaboutus a {
    text-decoration: none;
    color: #FFF1E4;
    margin-right: 10px;

}

.footerupaboutus a:hover {
    text-decoration: underline
}

.footerupinformation {
    /* display: flex; */
    line-height: 1.6;
}


.footerupinformation p {
    font-weight: bold;
    color: #c45c32;
    margin-right: 15px;
}


.footerupinformation a {
    text-decoration: none;
    color: #FFF1E4;
    margin-right: 10px;
}

.footerupinformation a:hover {
    text-decoration: underline
}




/* -------頁尾下面開始--------- */

.footerdown {
    padding-bottom: 20px;
}

.footerdown p {
    font-size: 12px;
    text-align: center;
    line-height: 1.6;
}


/* ------------(RWD 820 430)------------------- */

@media screen and (max-width:820px) {
    .main-white {
        width: 100%;
    }

    .headerup p {
        width: 100%;
    }

    .bigpicture {
        height: 300px;
        margin-bottom: 50px;
    }

    .twopicture {
        width: 100%;
        margin: 0;
        justify-content: center;

    }

    .twopictureone {
        margin: 0;
        margin-bottom: 20px;

    }

    .twopicturetwo {
        margin-bottom: 20px;
        margin-left: 20px;

    }

    .twopictureone:hover {
        transform: scale(1);
    }



    .twopicturetwo:hover {
        transform: scale(1);
    }



    .mainaboutus h3 {
        /* border: 1px solid black; */
        font-size: 40px;
        margin: 0;
        text-align: center;
        margin-bottom: 20px;
    }


    .mainaboutus p {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .twopictureone:hover {}

    .top5 {
        border-radius: 24% 24% / 15% 40%;
    }


    .footerdown p {
        font-size: 10px;
    }

}

@media screen and (max-width:430px) {
    .top5 {
        background-color: #fcf6f0;
        width: 20%;
        margin: 0 auto;
        margin-bottom: 120px;
        position: relative;
        padding: 30px;
        padding-bottom: 50px;

        border-radius: 50% 20% / 30% 40%;


    }

    .top5picture img {
        width: 430px;
        height: 300px;
    }

    .buttonright {
        padding: 0;
        color: white;
    }

    .buttonleft {
        padding: 0;
        color: white;
    }

    .maindown img {
        width: 430px;
        height: 300px;
    }

    .maindown .maindown-english {
        font-size: 24px;
        left: 47%;
    }

    .maindown p {
        font-size: 14px;
    }

    .maindown a {
        width: 70px;
        height: 25px;
        font-size: 18px;
    }
}