@import url(./reset.css);
@import url(./updown.css);

/* ----------------主頁開始---------------- */
.wrapper{
    width: 100%;
}

.main-sel {
    background-color: #FFF2E1;
    padding-top: 120px;
    
}

.main-white {
    /* border:  1px solid red; */
    width: 100%;
    /* background-color: white; */
    margin: 0 auto;
    /* padding: 100px;
    padding-top: 40px; */
    box-sizing: border-box;
}

/* ---------品牌理念---------- */

.concept {
    /* border: 1px solid red; */
    overflow: hidden;
    display: flex;
    justify-content: center;

    padding-top: 60px;
    margin-bottom: 120px;




}

.conceptname {
    /* border: 1px solid black; */
    padding-top: 60px;


}


.conceptname h3 {
    font-size: 38px;
    border-bottom: 3px dashed #6a3224;
    line-height: 1.6;
    text-align: center;
    width: 180px;
    margin-bottom: 40px;
    color: #6a3224;



}

.conceptname p {
    font-size: 18px;
    line-height: 1.6;
    color: #db8e5c;




}

.concept img {
    width: 400px;
    height: 400px;
    /* float: right; */

    border-radius: 50% 20% / 10% 40%;

    box-sizing: border-box;
    align-items: center;

    margin-left: 30px;

}

/* --環保材質開始-- */

.environmental {
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-bottom: 120px;
}

.environmental-img-h4{
    position: relative;
}

.environmental h3 {
    border-bottom: 3px dashed #6a3224;
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    width: 250px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #6a3224;
}

.environmental ul {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin-top: 40px;
    line-height: 1.6;
}

.environmental li {
    /* border: 1px solid black; */
    width: 300px;
    text-align: center;

}

.environmental li img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 40px;
}

.environmental h4 {
    margin-bottom: 20px;
    color: #6a3224;
    position: absolute;
    top: 85px;
    left: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: scale(0.8);

}

.environmental p{
    color: #db8e5c;
}

.environmental-img-h4:hover h4 {
    opacity: 1;
    transform: scale(1);
}



/* ------材料選用開始------- */

.material {
    /* border: 1px solid black; */
    text-align: center;
    padding-bottom: 40px;
}


.material h3 {
    font-size: 38px;
    border-bottom: 3px dashed #6a3224;
    color: #6a3224;
    width: 180px;
    margin: 0 auto;

    /* margin-bottom: 40px; */

}

.material p {
    margin: 0 auto;
    line-height: 1.6;

    margin-bottom: 40px;
}

.material img {

    width: 400px;
    height: 300px;
    border-radius: 550px;
    margin: 0 20px;

}

/* ---------材料選用開始-_----- */

.product1 {
    /* border: 1px solid black; */
    text-align: center;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.product1 h3 {

    font-size: 38px;
    line-height: 1.6;
    border-bottom: 3px dashed #6a3224;
    width: 180px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #6a3224;

}

.product1 p {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #db8e5c;
}

.product1 img {
    width: 350px;
    height: 250px;
    border-radius: 550px;
    margin: 0 10px;
}


/* ------------(RWD 820 430)------------------- */
@media screen and (max-width:820px){
    .concept {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .conceptname{
    margin: 0;
      
        
    }

    .concept>img{
        height: 300px;
        width: 300px;
        margin: 0;
        
        
    }

    .conceptname h3{
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
      
    }

    .conceptname p{
        margin-right: 10px;
    }

    .environmental{
        margin: 0px;
        margin-bottom: 30px;
    }

    .environmental li img{
        height: 150px;
        width: 150px;
    }

    .environmental h3{
        font-size: 30px;
    }

    .environmental h4{
        display: block;
    }

    .product1 h3{
        font-size: 30px;
    }

    .product1 img{
        width: 250px;
        height: 180px;
    }


}

@media screen and (max-width:430px){
.main-sel{
    width: 100%;
}

.concept{
    flex-direction: column;
    margin: 0 auto;
    margin-left: 20%;

}



.concept>img{
    margin-bottom: 20px;
}

.conceptname h3{
    border-bottom: 0 ;
    border-left: 3px dashed #6a3224;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;
    
}



.conceptname p{
    margin-bottom: 30px;
}

.environmental h3{
    border-bottom: 0 ;
    border-left: 3px dashed #6a3224;
    font-size: 30px;
    margin: 0 auto;
    width: 200px;
}

.environmental-img-h4{
    flex-direction: column;

}

.environmental {
    display: block;
    
}

.environmental li img{
    height: 100px;
    width: 100px;
}

.product1 h3{
    border-bottom: 0 ;
    border-left: 3px dashed #6a3224;
    text-align: left;
    padding-left: 10px;

}
.product1 img{
    margin-bottom: 20px;
}


}