@import url(./reset.css);
@import url(./updown.css);




/* ----------主頁開始 ------- */
.main-sel {
    background-color: #FFF2E1;
    padding-top: 120px;
}

.white {

    width: 1000px;
    margin: 0 auto;
}





.listup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    position: fixed;
    top: 118px;
    width: 1000px;
    
   
    background-color: #FFF1E4;
    /* 確定顶部导航欄位位於其他内容上層 */
    z-index: 100;

} 



.listup a {
    display: inline-block;
    display: block;
    /* border-bottom: 1px solid #CDA581; */
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100px;
    height: 20px;
    margin-bottom: 5px;
    margin: 0 15px;
    border-bottom: 3px dashed #FFF1E4;
}

.listup a:hover {
border-bottom: 3px dashed #db8e5c;
}

.listdown {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 40px;

}


.listfull {
    /* border: 1px solid red; */
    width: 260px;
    display: block;
    /* float: left; */
    
}

.listfull img {
    width: 240px;
    height: 260px;
    margin: 0 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.name {
    font-size: 18px;


}

.capacity {
    font-size: 16px;
    margin-bottom: 20px;

}

.taste {
    font-size: 12px;
    color: #7F7F7F;
    padding: 0 10px;
    margin-bottom: 20px;
}

.price {
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 20px;
}

.listfull a {
    display: flex;
    width: 240px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #6A3224;
    border-radius: 12px;
    color: white;
    background-color: #6A3224;

}

.listfull a:hover {
    background-color: #FFF1E4;;
    color: #6A3224;
}


.listone {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

}


.listfour {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

}
