@import url(./reset.css);
@import url(./updown.css);



/* ----------主頁開始 ------- */
.main-sel {
    background-color: #FFF2E1;
    padding-top: 120px;
}

.main-sel-white {
    /* background-color: white; */
    width: 550px;
    height: 650px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
}

.logintop {
    /* display: block; */
    border-bottom: 1px solid #6A3224;
    line-height: 4.0;

}



.lonintext {
    color: #6A3224;
    text-decoration: none;
    text-decoration: underline;
    font-size: 18px;
    padding-right: 10px;

}

.jointext {
    color: #6A3224;
    text-decoration: none;
    font-size: 18px;
}

.fastlogin{
    position: relative;
}




.fastlogin p {
    line-height: 4.0;
    color: #6A3224;
    font-size: 18px;
}

.lineimg {
    position: absolute;
    left: 0px;
    top: 0px;
    top: 75px;
    left: 15px;
}

.facebookimg {
    position: absolute;
    left: 0px;
    top: 0px;
    top: 163px;
    left: 15px;
}


.fastlogin a {
    /* border: 1px solid black; */
    display: block;

    background-color:#6A3224;
    color: white;
    text-decoration: none;
    margin-bottom: 40px;
}

.forlink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    
}

.logincenter {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6A3224;
}


.logincenter span {
    line-height: 4.0;
    padding-right: 50px;
    font-size: 18px;
}

.logincenter a {
    display: block;
    height: 30px;
    width: 80px;
    border: 1px solid #D8D8D8;
    color: #D8D8D8;
    text-decoration: none;
    text-align: center;
    line-height: 2.0;
}


.password {
    line-height: 3.0;
    font-size: 18px;
    display: block;
   
}

.passwordone {
    display: block;
    width: 476px;
    height: 60px;
    border: none;
    border-bottom: 1px solid #6A3224;;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    background-color: #FFF1E4;
   
}

.passwordtwo {
    display: block;
    width: 476px;
    height: 60px;
    border: none;
    border-bottom: 1px solid #6A3224;;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 20PX;
    background-color: #FFF1E4;

}
.passwordthree{
    
    text-align: center;
}

.passwordthree-button {
    width: 150px;
    height: 40px;
    
    border: none;
    border: 1px solid #6A3224;
    outline: none;
    background-color:#FFF1E4;;
    font-size: 16px;
    color: #6A3224;

}


.forlink:hover {
    border: 1px solid #6a3224;
    background-color: #F3DAC4;
    color: #6a3224
}

.logincenterhover:hover {
    background-color: #F3DAC4;
    color: black;
}

.passwordthree-button:hover {
    background-color: #F3DAC4;
}




