@import url(./reset.css);
@import url(./updown.css);


/* ----------主頁開始 ------- */
.main-sel {
    background-color: #FFF2E1;
    position: relative;
    height: 600px;
    display: flex;
    padding-top: 120px;
}



.picturedown{
    width: 330px;
    height: 430px;
    opacity:0.1;
    border-radius: 250px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 155px;
    margin-left: 260px;
    
}




.pictureup{
    width: 300px;
    height: 400px;
    border-radius: 250px;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 180px;
    margin-left: 320px;
    animation: moveImage 6s linear infinite;
}

@keyframes moveImage {
    0% {
        transform: translateY(-5%);
    }
    25% {
        transform: translateY(5%);
    }
    50% {
        transform: translateY(10%);
    }
    75% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(-5%);
    }
}

.main-sel-sel{
    /* border: 1px solid red; */
    
    position: relative;
    left: 0px;
    top: 0;
    margin-top: 100px;
    margin-left: 650px;
}
.main-sel-sel h3{
    font-size: 40px;
    margin-bottom: 20px;
    color: #6a3224;
    text-align: center;
}
.main-sel-sel p{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #6a3224;
    text-align: center;
}

.main-sel-sel .situation {
    font-size: 16px;
    color: #db8e5c;
}

.main-sel-sel a{
    /* border: 1px solid red; */
    display: block;
    width: 150px;
    height: 50px;
    border-radius: 120px;
    background-color: #6a3224;
    color: white;
    line-height:50px;
    text-decoration: none;
    text-align:center;
    margin: 0 auto;
}

.main-sel-sel a:hover {
    border: 1px solid #6a3224;
    background-color: #F3DAC4;
    color: #6a3224
}
