@import url(./reset.css);
@import url(./updown.css);


/* ----------主頁開始 ------- */

.main-sel {
    background-color: #FFF2E1;
    padding-top: 150PX;
    
}

.main-white {
    
    width: 1000px;
    /* background-color: white; */
    margin: 0 auto;
}

.listup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    margin-bottom: 20px;


    position: fixed;
    top: 118px;
    /* width: 1000px; */
    width: 79%;
    
   
    background-color: #FFF1E4;
    /* 確定顶部导航欄位位於其他内容上層 */
    z-index: 100;
    

} 



.listup a {
    display: inline-block;
    display: block;
    /* border-bottom: 1px solid #CDA581; */
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100px;
    height: 20px;
    margin-bottom: 5px;
    margin: 0 15px;
    border-bottom: 3px dashed #FFF1E4;
}

.listup a:hover {
border-bottom: 3px dashed #db8e5c;
}



.main-sel-up {
    font-family: "Noto Sans TC";
    
    width: 800px;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.main-sel-up img {
    width: 500px;
    height: 350px;
    border-radius: 12px;
   
}



.main-sel-up_text h3 {
    font-size: 38px;
    color: #6a3224;
    margin-bottom: 20px;

}

.main-sel-up_text>p {
    font-size: 18px;
    
    color: #d2723d;
    margin-bottom: 20px;
}

.count {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #6a3224;
   
}

.count button {
    background-color: #6a3224;
    color: white;
    border: none;
    border: 1px solid #6a3224;
}


.main-sel-up_text a {
    display: block;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    width: 150px;
    height: 50px;
    background-color: #6a3224;
    color: #FFF1E4;
    margin-bottom: 40px;
    border-radius: 120px;
    text-decoration: none;
    margin: 0 auto;
    border: 1px solid #6a3224;

}

.main-sel-center {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 80px;
    line-height: 1.6;
}



.main-sel-center p {
    font-size: 18px;
    color: #6a3224;
    border-left: 2px solid #db8e5c;
    padding-left: 10px;
    
}




.main-sel-down {
    width: 800px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 80px;
    position: relative;

}

.main-sel-down img {
    /* border:  1px solid red; */
    width: 500px;
    height: 300px;
    margin: 0 100px;
    border-radius: 12px;
}



.main-sel-down p{
    text-align: center;
    color: #6a3224;;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 40px;
    position: absolute;
    bottom: 0;
    right: 0;

}





.main-sel-up_text a:hover {
    background-color: #FFF2E1;
    color: #6a3224;
}




/* ------------(RWD 820 430)------------------- */
@media screen and (max-width:820px){

    .main-sel-up{
        margin: 0px;
        justify-content: left;
        margin: 0px auto;
        margin-bottom: 30px;
        
    }

    .main-sel-up img{
         width: 40%;
         height: 80%;
         margin-right: 80px;
    }

    .main-sel-down img{
        margin: 0px;
    }
    .main-sel-down p {
         right: 112px;

    
    }

}