@import url(../css/reset.css);


.wrapper {
    font-size: 16px;
    background-color: #F3DAC4;
    font-family: "segoe script", "Noto Sans TC";
    width: 100%;
}

/* ------------頁首開始 ----------*/

.header {}

.headerup {
    padding-top: 10px;
}

.headerup p {

    text-align: center;

}

.headerdown {
    display: flex;
    width: 1240px;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding-bottom: 5px;


}




.mainlogo {}

.mainlogo img {
    padding-left: 20px;
    width: 150px;
    height: 60px;
}

.headerdown ul {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0 auto;

    /* margin-left: 30px; */

}

.headerdown li {

    margin: 0 10px;
    font-size: 16px;
    background-color: #CDA581;
    align-self: auto;

}

.headerdown li a {
    display: flex;
    width: 150px;
    height: 40px;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.memberlogo {
    margin-left: auto;
    /* padding-right: 20px; */
    display: flex;
    align-items: center;



}

.memberlogo img {}

.shoppinglogo {
    padding-right: 20px;
    display: flex;
    align-items: center;



}

.shoppinglogo img {
    padding-left: 20px;

}

.headerdown li a:hover {
    background-color: #FFF1E4;
    color: black;
}



/* ----------主頁開始 ------- */
.main-sel {
    background-color: #FFF1E4;
    padding: 20px 0;

}

/* 主頁上方圈圈流程圖 */

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 1000px;
    height: 100px;
    margin: 20px auto;

    position: relative;

}

.left{
    /* border: 1px solid red; */
    
}

.topleft{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 75px;
    margin-bottom: 30px;
    background-color: #CDA581;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    font-size: 18px;

}



.topleft_one{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin: 0 50px;
    font-size: 18px;
}


.toptop::before{
    content:" ";
    background-color: #CDA581;
    height: 2px;
    width: 151px;
    position: absolute;
    left:328px;
    top: 27px;
    
    z-index: 0;
}

.topcenter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CDA581;
    color: black;
    margin: 0 75px;
    margin-bottom: 30px;
    background-color: #FFF1E4;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    font-size: 18px;
    
    
}



.topcenter_two{
    
    display: flex;
    justify-content: center;
    margin: 0 50px;
    font-size: 18px;
}

.toptoptwo::before{
    content:" ";
    background-color: #CDA581;
    height: 1px;
    width: 150px;
    position: absolute;
    left:520px;
    top: 27px;
    
    z-index: 0;
}

.topright{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CDA581;
    color: black;
    margin: 0 75px;
    margin-bottom: 30px;
    background-color:#FFF1E4;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    font-size: 18px;
    
    
}



.topright_three{
    
    display: flex;
    justify-content: center;
    margin: 0 50px;
    font-size: 18px;
}

/* 主頁中間購物車 */

.main-center{
    width: 1000px;
    padding: 30px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main-center-top{
    padding: 20px;
    margin: 0 auto;
}

.main-center-top_one{
    width: 900px;
    border: 1px solid #C1C1C1;
    margin: 0 auto;
    border-bottom: none;
    line-height: 30px;
    padding: 15px 15px;
    font-weight: 500;
    font-size: 20px;
    
}

.main-center-top_two{
    display: flex;
    justify-content: space-between;
    width: 900px;
    border: 1px solid #C1C1C1;
    margin: 0 auto;
    line-height: 30px;
    padding: 15px 15px;
    font-size: 18px;
}

.main-center-top_two p{
    width: 180px;
}

.main-center-top_three{
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: left;
    width: 900px;
    border: 1px solid #C1C1C1;
    margin: 0 auto;
    border-top: none;
    padding: 15px ;
    
}

.main-center-top_three div{
    width: 180px;
}

.main-center-top_three_picture{
    display: flex;

}

.main-center-top_three_name span{
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
}

.main-center-product{
    display: flex;
    width: 80px;
    align-items: center;
    
}

.main-center-product input{
    width: 30px;
}

.main-center-product button{
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-right: 3px;
}

.main-center-product input{
    border: 1px solid black;
    background-color: white;
    margin-right: 3px;
    
}



.main-center-down{
    border: 1px solid #C1C1C1;
    margin: 0 auto;
    border-top: none;
    
    width: 900px;
    line-height: 30px;
    
    padding: 15px 15px;
    
    font-size: 18px;

    
}



.main-center-discount-code {
    /* border: 1px solid red; */
    width: 330px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #FFF1E4;
    padding: 0 5px;
    margin-bottom: 10px;
}

.main-center-discount-code input{
    border: 1px solid #CDA581;
    background-color: #FFF1E4;
    outline:none;
    height: 25px;
}

.main-center-discount-code button{
    border: 1px solid #CDA581;
    border-radius: 12px;
    background-color:#FFF1E4 ;
    color: black;
}

.main-center-discount-code button:hover{
    color: white;
    background-color: #CDA581;
    
}



.main-center-down>span {
    width: 330px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #FFF1E4;
    padding: 0 5px;
    margin-bottom: 10px;

}



.main-center-down-nexttop a{
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF1E4;
    
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

/*------- 加購區-------- */

.main-center-add {
    background-color: white;
    width: 1000px;
    padding: 30px;
    margin: 0 auto;
    
   

    /* border: 1px solid red; */
}

.main-center-add ul{
    /* border: 1px solid red; */
    overflow: hidden;
    
    padding-left: 10px;
    
   
}

.main-center-add li{
    /* border: 1px solid red; */
    background-color: #FFF1E4;
    padding: 20px;
    width: 400px;
    height: 200px;
    float: left; 
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;
    
    
     
}

.main-center-add h3{
    font-size: 30px;
    margin-bottom: 20px;

}



.name{
    font-size: 20px;
}


.main-center-add img {
    width: 200px;
    height: 200px;
    
    border-radius: 12px;
    margin-right: 20px;
   
}


.main-center-add-text a {
    display: flex;
    width: 140px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #CDA581;
    border-radius: 12px;
    color: #7F7F7F;
    background-color: #FFF1E4;

}

.main-center-add-text a:hover {
    background-color: #CDA581;
    color: white;
}

.between{
    display: flex;
    justify-content: space-between;
}

.neme{
   font-size: 20px;
   
}

.capacity{
    font-size: 16px;
    padding-bottom: 20px;
   
}

.taste{
    font-size: 12px;
    color: #7F7F7F;
    padding-bottom: 20px;
}

.price{
    padding-bottom: 70px;

}


/* ------------頁尾上面開始 ----------*/

footer{
    clear: both;
}

.footerup {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    /* border: 1px solid black; */
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.footerup p {}

.footerup a {}

.footerup>img {
    width: 100px;
    height: 100px;
    border-radius: 120px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;

}


.footerupaboutus {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    margin-right: 20px;

}

.footerupaboutus a {
    text-decoration: none;
    color: black;
}

.footerupaboutus a:hover {
    text-decoration: underline
}

.footerupinformation {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.footerupinformation a {
    text-decoration: none;
    color: black;
}

.footerupinformation a:hover {
    text-decoration: underline
}

.footerupcontact {
    line-height: 1.6;
    /* display: flex; */
    /* justify-content: end; */
}

.footerupcontact a {
    /* border: 1px solid red; */


}

.footerupcontact img {
    width: 20px;
    height: 20px;


}



/* -------頁尾下面開始--------- */

.footerdown {
    padding-bottom: 20px;
}

.footerdown p {
    font-size: 12px;
    text-align: center;
    line-height: 1.6;
}