@import url(../css/reset.css);
@import url(./updown.css);

/* ----------主頁開始 ------- */
.main-sel {

    background-color: #FFF2E1;
    padding-top: 120px;
}

/* 主頁上方圈圈流程圖 */

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    width: 1000px;
    height: 100px;
    margin: 20px auto;


    position: relative;

}

.left {
    /* border: 1px solid red; */

}

.topleft {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 75px;
    margin-bottom: 30px;
    background-color: #6a3224;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    font-size: 18px;

}



.topleft_one {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    margin: 0 50px;
    font-size: 18px;
    color: #6a3224;
}


.toptop::before {
    content: " ";
    background-color: #6a3224;
    height: 2px;
    width: 151px;
    position: absolute;
    left: 326px;
    top: 27px;

    z-index: 0;
}

.topcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #6a3224;
    color: #6a3224;
    margin: 0 75px;
    margin-bottom: 30px;
    background-color: #FFF1E4;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    font-size: 18px;


}



.topcenter_two {

    display: flex;
    justify-content: center;
    margin: 0 50px;
    font-size: 18px;
    color: #6a3224;
}

.toptoptwo::before {
    content: " ";
    background-color: #6a3224;
    height: 1px;
    width: 150px;
    position: absolute;
    left: 520px;
    top: 27px;

    z-index: 0;
}

.topright {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #6a3224;
    color: #6a3224;
    margin: 0 75px;
    margin-bottom: 30px;
    background-color: #FFF1E4;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    font-size: 18px;


}



.topright_three {

    display: flex;
    justify-content: center;
    margin: 0 50px;
    font-size: 18px;
    color: #6a3224;

}

/* 主頁中間購物車 */

.main-center {
    width: 1000px;
    padding: 30px;
    /* background-color: white; */
    margin: 0 auto;
    margin-bottom: 40px;
}

.main-center-top {
    padding: 20px;
    margin: 0 auto;
}

.main-center-top_one {
    width: 900px;
    border: 2px solid #6a3224;
    margin: 0 auto;
    border-bottom: none;
    line-height: 30px;
    padding: 15px 15px;
    font-weight: 500;
    font-size: 20px;
    color: #6a3224;

}

.main-center-top_two {
    display: flex;
    justify-content: space-between;
    width: 900px;
    border: 2px solid #6a3224;
    margin: 0 auto;
    line-height: 30px;
    padding: 15px 15px;
    font-size: 18px;
}

.main-center-top_two p {
    width: 180px;
    color: #6a3224;
}

.main-center-top_three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 900px;
    border: 2px solid #6a3224;
    margin: 0 auto;
    border-top: none;
    padding: 15px;
    color: #6a3224;

}

.main-center-top_three div {
    width: 180px;
}

.main-center-top_three_picture {
    display: flex;


}

.main-center-top_three_name span {
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #6a3224;
}

.main-center-product {
    display: flex;
    width: 80px;
    align-items: center;
    border: none;

}

.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main-center-product input {
    width: 30px;

    -webkit-appearance: none;
    margin: 0;

    -moz-appearance: textfield;
}


.main-center-product button {
    border: 2px solid #6a3224;
    background-color: #FFF1E4;
    color: #6a3224;
    margin-right: 3px;
}

.main-center-product input {
    border: 2px solid #6a3224;
    background-color: #FFF1E4;
    margin-right: 3px;

}






.main-center-discount-code {
    /* border: 1px solid red; */
    width: 330px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #FFF1E4;
    color: #6a3224;


    margin-right: 330px;

}

.main-center-discount-code input {
    border: none;
    border-bottom: 1px solid #6a3224;
    /* border: 1px solid #6a3224; */
    background-color: #FFF1E4;
    outline: none;
    height: 25px;
    padding-left: 10px;
}

.main-center-discount-code button {
    border: 1px solid #6a3224;
    border-radius: 12px;
    background-color: #FFF1E4;
    color: #6a3224;
}

.main-center-discount-code button:hover {
    color: #FFF1E4;
    background-color: #6a3224;

}

.main-center-down {
    border: 2px solid #6a3224;
    margin: 0 auto;
    border-top: none;

    width: 900px;
    line-height: 30px;

    padding: 15px 15px;

    font-size: 18px;
    color: #6a3224;

    display: flex;

}

.main-center-down-right {
    border: 1px solid red;
    width: 50px;
    line-height: 50px;
}



.main-center-down-nexttop a {
    width: 70px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF1E4;

    margin-bottom: 10px;
    text-decoration: none;
    border: 1px solid #6a3224;
    border-radius: 12px;
    color: #6a3224;
}

/*------- 加購區-------- */

.main-center-add {

    width: 1000px;
    padding: 30px;
    margin: 0 auto;
}

.main-center-add h3 {
    color: #6a3224;
}


.main-center-add ul {
    overflow: hidden;
    padding-left: 10px;
}

.main-center-add li {
    border: 2px solid #6a3224;
    background-color: #FFF1E4;
    border-radius: 40px;
    padding: 20px;
    width: 400px;
    height: 200px;
    float: left;
    display: flex;
    margin-left: 30px;
    margin-bottom: 20px;



}

.main-center-add h3 {
    font-size: 30px;
    margin-bottom: 20px;

}



.name {
    font-size: 20px;
}


.main-center-add img {
    width: 200px;
    height: 200px;

    border-radius: 12px;
    margin-right: 20px;

}


.main-center-add-text a {
    display: flex;
    width: 140px;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #6a3224;
    border-radius: 12px;
    color: #7F7F7F;
    background-color: #FFF1E4;

}

.main-center-add-text a:hover {
    background-color: #CDA581;
    color: white;
}

.between {
    display: flex;
    justify-content: space-between;
}

.neme {
    font-size: 20px;

}

.capacity {
    font-size: 16px;
    padding-bottom: 20px;

}

.taste {
    font-size: 12px;
    color: #7F7F7F;
    padding-bottom: 20px;
}

.price {
    padding-bottom: 70px;

}